/* Contact */
.Contact * {
  margin: 20px 0;
  width: 50vw;
  padding: .8vw;
  font-size: 18px;
  color: black;
}

.Contact input {
  font-weight: bold;
  background-color: white;
}

.fab-but,
.Contact h1 {
  position: relative;
  right: 2%;
  left: 2%;
}

.fab-but span {
  display: none;
}

.Contact form {
  text-align: center;
}

.Contact {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(73, 73, 73, 0.062);
}
