/* Contact */

.Contact {
  position: relative;
  font-size: 1vw;
  background-color: white;
  border: 0.1vw solid rgba(73, 73, 73, 0.062);
}

.Contact>form {
  margin-top: -0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 5vw;
  padding-bottom: 10vw;
}

.Contact > form > textarea {
  margin: 2vh 0;
  height: 30vh;
  width: 50vw;
  padding: 0.8vw;
  font-weight: bold;
  background-color: white;
  font-family: sans-serif;
}

.Contact > form > input {
  margin: 2vh 0;
  width: 50vw;
  padding: 0.8vw;
  font-weight: bold;
  background-color: white;
  font-family: sans-serif;
}

.fab-but,
.Contact>h1 {
  position: relative;
  right: 2%;
  left: 2%;
}

.fab-but>span {
  display: none;
}

.Contact>form {
  text-align: center;
}

iframe {
  margin-top: -0.5vw;
  height: 60vh;
}

.Contact>form>p:first-child{

  align-self: start;
  margin-top: -1vw;
  margin-bottom: 5vw;
  margin-left: 8vw;
}