/* Home page video & button */

.home-vid {
    text-align: center;
    width: 100%;
  }
  
  .home-vid video {
    height: 100vh;
    object-fit: fill;
    filter: contrast(70%) brightness(100%);
  }
  
  .home-overlay {
    position: relative;
    margin-top: -22vw;
    text-align: center;
    width: 100vw;
    height: auto;
  }
  
  #start-button {
    padding: 1vw;
    border-radius: 4vw;
    border-width: .3vw;
    border-color: inherit;
    font-size: 1.3vw;
    font-weight: 700;
    color: rgb(35, 104, 255);
    word-spacing: 20%;
    letter-spacing: 95%;
    background-color: rgba(240, 255, 255, 0.336);
  }
  
  #start-button:hover {
    background-color: lightblue;
  }
  
  #video-text {
    align-self: center;
    color: rgb(241, 255, 254);
    font-size: 3vw;
    font-family: "Bangers", cursive;
    margin-bottom: 3vw;
    word-spacing: .3vw;
    letter-spacing: 0.1vw;
    text-shadow: .8vw .2vw .8vw rgb(58, 58, 58);
  }