@import "./home.css";
@import "./contact.css";
@import "./shop.css";
@import "./sales.css";
@import "./sell.css";
@import "./cart.css";
@import "./auth.css";



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
  font-family: "Roboto Slab", serif;
}

a{
  text-decoration: none;
  color: inherit;
}

input:focus,
textarea:focus {
  background-color: rgb(220, 253, 242);
}

/* Navigation bar */
nav {
  width: 100%;
  position: fixed;
  z-index: 9; /* Random value high enough to not cause the video to overlap because of fixed position */
}

.Nav-bar {
  padding: 0 20px 0 20px;
  display: flex;
  list-style: none;
  font-family: "Orbitron", sans-serif;

  font-size: 20px;
  background-color: white;

  color: dimgray;
  border-bottom: 1px solid gainsboro;
}

.Nav-bar li {
  margin: 10px 20px 10px 20px;
  user-select: none;
}

.Nav-bar li:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: red;
}

.Nav-bar li:active {
  color: rgba(247, 136, 72, 0.993);
  transform: scale(1.2);
}

#option6,
#option7 {
  position: relative;
  left: 36.5%;
}

#option8 {
  position: relative;
  left: 32.8%;
}

#option9 {
  display: inline-block;
  position: relative;
  left: 41%;
  margin-bottom: 0;
  margin-top: 5px;
}
#option9:active {
  transform: none;
  color: inherit;
}
#option9:hover {
  color: inherit;
  transform: none;
}

#option9:hover .dropdown {
  display: block;
}

#option9 span {
  font-size: 20px;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  transform: none;
  color: inherit;
  font-size: 12px;
  padding: 5px;
  width: 80px;
  height: 50px;
  margin: 0;
}

.dropdown ul {
  padding: 5px;
  top: 0%;
  right: 80%;
  background-color: whitesmoke;
  list-style: none;
}

.dropdown li {
  margin: 2px;
  padding-bottom: 0;
  background-color: whitesmoke;
  font-size: 14px;
}

.dropdown-content {
  position: relative;
  width: 95px;
}

#dropdown-list {
  padding: 5px;
  width: 80px;
}

#dropdown-list:active {
  color: black;
  transform: none;
}

#dropdown-list:hover {
  color: black;
  transform: none;
  background-color: rgba(128, 128, 128, 0.397);
}

#option9 span {
  position: absolute;
  top: 10%;
  right: 100%;
  padding-bottom: 20px;
  padding-right: 5px;
}

/* Logo of Business */

.logo:hover {
  cursor: context-menu;
  user-select: none;
}

.logo {
  font-family: "Kaushan Script", cursive;
  position: relative;
  right: 6%;
  left: 6%;
  font-size: 35px;
  color: #e73852;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orangered;
  text-shadow: 1px 1px 1px gray, 1px 2px 1px gray, 1px 3px 1px gray,
    1px 4px 1px gray, 1px 5px 1px gray, 1px 6px 1px gray;
}

/* pages */

.Sales,
.Shop,
.Sell,
.Contact,
.SignUp,
.Login,
.Cart {
  padding-top: 50px;
  margin: 0 40px 0 40px;
  background-color: white;
  color: black;
}

.Shop,
.Sales,
.Cart {
  position: absolute;
  width: 1456px;
  height: 100%;
}


/* sell form and contact button */
#fab1,
#fab2 {
  background-color: rgb(71, 212, 255);
  font-weight: 750;
  border: 3px solid white;
  font-size: 16px;
}

#fab1:hover,
#fab2:hover {
  background-color: rgb(75, 159, 255);
}

#fab1:active,
#fab2:active {
  transform: scale(0.9);
}


